<?xml version="1.0"?>
<!-- Name your robot here -->
<robot name ="forgemate" xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:include filename="$(find forgemate)/urdf/forgemate.urdf"/>

    <!--  Gazebo plugin for control here is already added for you -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/forgemate</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS> 
        </plugin>

        <!-- <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>
            <bodyName>base_link</bodyName>
            <topicName>imu</topicName>
            <serviceName>imu_service</serviceName>
            <gaussianNoise>0.0</gaussianNoise>
            <updateRate>20.0</updateRate>
        </plugin> -->
    </gazebo>

</robot>	

